.wrapper {
  margin: 0 auto;
  max-width: 800px;
}
.top-nav {
  padding: 15px 0;
  background: #3F51B5;
  text-align: center;
}
.top-nav__item {
  margin-left: 30px;
  display: inline-block;
}
.top-nav__item:first-child {
  margin-left: 0;
}
.top-nav__link {
  color: #fff;
  text-decoration: none;
}
.top-nav__link:hover {
  /*color: #fff;*/
}
.top-nav__link.top-nav__active {
  text-decoration: underline;
}