.post__item {
  padding: 10px;
  width: 49%;
  background: #f3f3f3;
  margin-bottom: 15px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px -1px #000;
}
.post__heading {
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post__body {
  font-size: 15px;
  color: #555;
}